* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header and Navigation Styles */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary, .resume-btn-primary {
    height: 64px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    background: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
}

.btn-primary:hover {
    border: 1px solid #FD6E0A;
    background: #FFF8F3;
    color: #FD6E0A;
}

.resume-btn-primary:hover {
    border: 1px solid #FD6E0A;
    background: white;
    color: #FD6E0A;
}

.btn-secondary {
    height: 64px;
    border: 1px solid #FD6E0A;
    background: #FFF8F3;
    padding: 17px 23px;
    color: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    margin-left: 30px;
}

.btn-secondary:hover {
    border: 1px solid #FD6E0A;
    background: #FD6E0A;
    color: #FFF8F3;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

/* Banner Style */
.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* Main Section Style */
.main {
    max-width: 2739px;
    margin: 0 230px;
}

section {
    margin-top: 130px;
}

/* About Section Style */
.about {
    background: #FFF8F3;
    padding: 131px 157px;
    border-radius: 10px;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}

.section-description {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info-title {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}

.about-info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* What I Do Section Style */
.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* Resume Section Style */
.resume-content {
    display: flex;
    gap: 24px;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}

.resume-item-title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-top: 30px;
    margin-bottom: 10px;
}

.resume-item-subtitle {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}

.resume-item-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;
}

.resume-btn {
    margin-top: 50px;
    margin-bottom: 113px;
    text-align: center;
}

/* Footer Section Style */
.footer {
    background: #FFF8F3;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 130px 230px;
    gap: 117px;
}

.footer-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}

.footer-description {
    font-weight: 400;
    font-size: 16px;
    color: #474747;
    margin-bottom: 30px;
}

.connect a{
    text-decoration: none;
    margin-right: 24px;
}

.footer input, textarea {
    margin-bottom: 24px;
    border: 0;
    border-radius: 5px;
    padding: 18px 30px;
}

.msg-section-width {
    width: 100%;
}

